/* 
Style Página inical de escolha
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: black;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0.5;
}



.logo {
    position: relative;
    z-index: 2;
    font-size: 3rem;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 4px;
}

.buttons-container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.valorant-btn-primary, .valorant-btn-secondary {
    position: relative;
    display: inline-block;
    padding: 19px 182px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    background: transparent;
    border: 2px solid;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
}
.valorant-btn-primary{
    padding: 19px 192px;
}

.valorant-btn-primary {
    border-color: #44b4ff;
}
.valorant-btn-secondary {
    border-color: #ff4655;
}

.valorant-btn-primary:hover {
    color: #44b4ff;
    background: rgba(255, 70, 85, 0.05);
    transform: translateY(-3px);
}

.valorant-btn-secondary:hover {
    color: #ff4655;
    background: rgba(255, 70, 85, 0.05);
    transform: translateY(-3px);
}

.valorant-btn-primary:active,
.valorant-btn-secondary:active {
    transform: translateY(1px);
}

.btn-image, .btn-imagevava {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 5px;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 2;
    object-fit: contain;
    pointer-events: none;
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.3));
}

.btn-image {
    right: -15px;
    transform: rotate(-15deg) translateX(20px);
}

.btn-imagevava {
    left: -15px;
    transform: rotate(15deg) translateX(-20px);
}

.valorant-btn-primary:hover .btn-image {
    opacity: 1;
    transform: rotate(-15deg) translateX(0);
    right: 5px;
}

.valorant-btn-secondary:hover .btn-imagevava {
    opacity: 1;
    transform: rotate(0deg) translateX(0);
    left: 14px;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease;
    pointer-events: none;
}

